name: Autograding Tests
'on':
  - push
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install pytest
          pip install jupyter

      - name: Convert Jupyter Notebook to Python
        run: jupyter nbconvert --to python exercises.ipynb

      - run: ls -l exercises.py

      - name: Run Test 1 (Exercise 1)
        id: test-1
        uses: classroom-resources/autograding-python-grader@v1
        with:
          setup-command: ""
          command: pytest -q --tb=short test_exercises.py -k test_exercise_1
          timeout: 10
          max-score: 20  # Weight for Exercise 1

      - name: Run Test 2 (Exercise 2)
        id: test-2
        uses: classroom-resources/autograding-python-grader@v1
        with:
          setup-command: ""
          command: pytest -q --tb=short test_exercises.py -k test_exercise_2
          timeout: 10
          max-score: 15  # Weight for Exercise 2

      - name: Run Test 3 (Exercise 3)
        id: test-3
        uses: classroom-resources/autograding-python-grader@v1
        with:
          setup-command: ""
          command: pytest -q --tb=short test_exercises.py -k test_exercise_3
          timeout: 10
          max-score: 25  # Weight for Exercise 3

      - name: Run Test 4 (Exercise 4)
        id: test-4
        uses: classroom-resources/autograding-python-grader@v1
        with:
          setup-command: ""
          command: pytest -q --tb=short test_exercises.py -k test_exercise_4
          timeout: 10
          max-score: 10  # Weight for Exercise 4

      - name: Run Test 5 (Exercise 5)
        id: test-5
        uses: classroom-resources/autograding-python-grader@v1
        with:
          setup-command: ""
          command: pytest -q --tb=short test_exercises.py -k test_exercise_5
          timeout: 10
          max-score: 30  # Weight for Exercise 5

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          TEST-1_RESULTS: "${{steps.test-1.outputs.result}}"
          TEST-2_RESULTS: "${{steps.test-2.outputs.result}}"
          TEST-3_RESULTS: "${{steps.test-3.outputs.result}}"
          TEST-4_RESULTS: "${{steps.test-4.outputs.result}}"
          TEST-5_RESULTS: "${{steps.test-5.outputs.result}}"
        with:
          runners: test-1, test-2, test-3, test-4, test-5
