name: Autograding Tests
'on':
  - push
permissions:
  checks: write
  actions: write
  contents: write
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install --no-deps jupyter-core traitlets nbconvert

      - name: Export Python file
        run: |
          jupyter nbconvert --to python exercises.ipynb

      - name: Checkout tests
        run: git clone https://github.com/nhientruong04/test_action.git answer

      - name: Autograding
        id: numpy
        uses: FAU-CS6-KDDmUe-Submissions/Custom-Python-Autograder@v1
        with:
          setup-command: |
            pip install --no-deps -r requirements.txt
          max-score: 100
          test-path: 'answer/test_exercises.py'

      - name: Autograding Reporter
        uses: fuisl/autograding-grading-reporter@v1
        env:
          NUMPY_RESULTS: "${{steps.numpy.outputs.result}}"
        with:
          runners: numpy
