name: Autograding Tests
'on':
  - push
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
          
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Convert Jupyter Notebook to Python
        run: jupyter nbconvert --to python exercises.ipynb

      - name: Run Test
        id: test
        uses: FAU-CS6-KDDmUe-Submissions/Custom-Python-Autograder@v1
        with:
          setup-command: ""
          timeout: 10
          max-score: 100
          test-path: 'test_exercises.py'

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          TEST_RESULTS: "${{steps.test.outputs.result}}"
        with:
          runners: test
