name: Autograding Tests
'on':
  - push
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - uses: actions/checkout@v4

      - name: Restore cached virtual environment
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('requirements.txt') }}

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
        if: steps.cache-venv.outputs.cache-hit != 'true'

      - name: Convert Jupyter Notebook to Python
        run: |
          source .venv/bin/activate
          jupyter nbconvert --to python exercises.ipynb

      - name: Clone answer repo
        run: git clone https://github.com/nhientruong04/test_action.git answer

      - name: Autograding
        id: numpy
        uses: FAU-CS6-KDDmUe-Submissions/Custom-Python-Autograder@v1
        with:
          setup-command: |
            python -m venv .venv
            source .venv/bin/activate
            pip install -r requirements.txt
          timeout: 10
          max-score: 100
          test-path: 'answer/test_exercises.py'

      - name: Autograding Reporter
        uses: fuisl/autograding-grading-reporter@v1
        env:
          NUMPY_RESULTS: "${{steps.numpy.outputs.result}}"
        with:
          runners: numpy
