name: Autograding Tests
'on':
  - push
  - workflow_dispatch
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up comment bot
        uses: iterative/setup-cml@v2
        with:
          version: 'v0.20.0'
          vega: false

      - name: Install dependencies
        run: |
            pip install jupyter

      - name: Export Python file
        run: |
          jupyter nbconvert --to python exercises.ipynb

      - name: Checkout tests
        run: git clone https://github.com/nhientruong04/test_action.git answer

      - name: Autograding
        id: numpy
        uses: FAU-CS6-KDDmUe-Submissions/Custom-Python-Autograder@v1
        with:
          setup-command: |
            pip install -r requirements.txt
          max-score: 100
          test-path: 'answer/test_exercises.py'

      - run: ls -R

      - env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo 'Im dead frfr' >> comment.md
          cml comment create --publish comment.md

      - name: Autograding Reporter
        uses: fuisl/autograding-grading-reporter@v1.1
        env:
          NUMPY_RESULTS: "${{steps.numpy.outputs.result}}"
        with:
          runners: numpy
# I don't even know what I'm doing right now
      # - name: Comment bot
      #   env:
      #     REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     if [ -f comment.md ]; then
      #       cml comment create comment.md
      #     else
      #       echo "comment.md not found!"
      #     fi